.pgv195OuterContainer {
  display: grid;
  width: 100%;
  position: relative;
}

.gp195Loader {
  position: absolute;
  left: 50%;
  right: 50%;
  bottom: 20px;
  margin-top: 20px;
}

@media screen and (max-width: 480px) {
  .pgv195OuterContainer {
    column-gap: 5px;
    row-gap: 5px;
    grid-template-columns: 32.5% 32.5% 32.5%;
  }

  .loader {
    height: 50px;
    width: 100%;
  }
}

@media screen and (min-width: 481px) {
  .pgv195OuterContainer {
    column-gap: 12px;
    row-gap: 12px;
    grid-template-columns: 32% 32% 32%;
  }

  .loader {
    height: 100px;
    width: 100%;
  }
}
