.App {
  text-align: center;
  background-color: var(--main-background);
  box-sizing: border-box;
  min-height: 100vh;
}

.loading195Container {
  position: absolute;
  left: 45%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 480px) {
  .App {
    padding: var(--sm-padding);
    padding-top: 55px;
    padding-bottom: 50px;
  }
}

@media screen and (min-width: 481px) and (max-width: 900px) {
  .App {
    padding: var(--md-padding);
    padding-top: 90px;
    padding-bottom: 5vh;
  }
}

@media screen and (min-width: 900px) {
  .App {
    padding: var(--xl-padding);
    padding-top: 80px;
    padding-bottom: 5vh;
  }
}
